/* static/style.css */
body {
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  }
  
  .card {
    border-radius: 12px;
  }
  
  .btn-link {
    color: #6c757d;
  }
  
  @media (max-width:576px) {
    .card {
      margin: 0 12px;
    }
  }